@font-face {
    font-family: 'MontserratAlternates';
    src: url('./font/MontserratAlternates.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
  user-select: none;
}

.main-dc-text {
  display: flex;
}

.main-dc-text {
  display: grid;
  margin-top: 150px;
  margin-left: 200px;
}

.main-dc-text-1 {
  width: 700px;
  height: 280px;
  font-size: 60px;
  font-family: MontserratAlternates;
}

.main-dc-text-2 {
  width: 600px;
  font-size: 40px;
}

.Joker-picture {
  margin-left: 1170px;
  margin-top: -330px;
  height:554px;
  width: 370px;
  background-position: center;
  background-size: 100%;
}

.tile-with-information {
  margin-left: 250px;
  display: flex;
}

/* Супермен */
.tile-with-information-1 {
  height: 200px;
  width: 400px;
  background-color: #464646;
  border-radius: 30px;
}

.SuperManMenuClass {
  margin-left: 30px;
  background-color: #464646;
  border-radius: 30px;
}

.SuperManMenu1 {
  margin-top: 65px;
  font-size: 37px;
  width: 100px;
  font-family: MontserratAlternates;
  background-color: #464646;
  border-radius: 30px;
  position: relative;
}

.SuperManMenu {
  margin-top: -100;
  margin-left: 195px;
  height: 190px;
  width: 205px;
  background-color: #464646;
  border-radius: 0px 30px 30px 0px;
}

/* Бэтмен */
.tile-with-information-2 {
  margin-left: 50px;
  height: 200px;
  width: 400px;
  background-color: #464646;
  border-radius: 30px;
}

.BatmanMenuClass {
  margin-left: 30px;
  display: grid;
  background-color: #464646;
  border-radius: 30px;
}

.BatmanMenu1 {
  margin-top: 65px;
  font-size: 45px;
  width: 100px;
  font-family: MontserratAlternates;
  background-color: #464646;
  border-radius: 30px;
  position: relative;
}

.BatmanMenu {
  margin-top: -110px;
  margin-left: 200px;
  height: 190px;
  width: 200px;
  background-color: #464646;
  border-radius: 0px 30px 30px 0px;
}

/* Флэш */
.tile-with-information-3 {
  margin-left: 50px;
  height: 200px;
  width: 400px;
  background-color: #464646;
  border-radius: 30px;
}

.FlashMenuClass {
  margin-left: 30px;
  display: grid;
  background-color: #464646;
  border-radius: 30px;
}

.FlashMenu1 {
  margin-top: 65px;
  font-size: 50px;
  width: 100px;
  font-family: MontserratAlternates;
  background-color: #464646;
  border-radius: 30px;
  position: relative;
}

.FlashMenu {
  margin-top: -116px;
  margin-left: 229px;
  height: 190px;
  width: 170px;
  background-color: #464646;
  border-radius: 0px 30px 30px 0px;
}

/* Ферстка под различные разрешения */
@media (max-width: 1440px) {
  .main-dc-text {
    margin-top: 100px;
    margin-left: 10%;
  }

  .main-dc-text-1 {
    width: 600px;
    font-size: 50px;
  }

  .Joker-picture {
    margin-left: 66%;
    margin-top: -330px;
    height:450px;
    width: 305px;
  }

  .tile-with-information {
    margin-left: 150px;
  }

  /* Супермен */
  .tile-with-information-1 {
    height: 200px;
    width: 350px;
  }

  .SuperManMenuClass {
    margin-left: 30px;
    border-radius: 30px;
  }

  .SuperManMenu1 {
    margin-top: 65px;
    font-size: 30px;
    width: 20px;
  }

  .SuperManMenu {
    margin-top: -100;
    margin-left: 145px;
    height: 198px;
    width: 205px;
  }

  /* Бэтмен */
  .tile-with-information-2 {
    margin-left: 50px;
    height: 200px;
    width: 350px;
  }

  .BatmanMenuClass {
    margin-left: 30px;
  }

  .BatmanMenu1 {
    margin-top: 65px;
    font-size: 35px;
    width: 50px;
  }

  .BatmanMenu {
    margin-top: -106px;
    margin-left: 150px;
    height: 198px;
    width: 200px;
  }

  /* Флэш */
  .tile-with-information-3 {
    margin-left: 50px;
    height: 200px;
    width: 350px;
  }

  .FlashMenuClass {
    margin-left: 30px;
  }

  .FlashMenu1 {
    margin-top: 65px;
    font-size: 40px;
    width: 50px;
  }

  .FlashMenu {
    margin-top: -113px;
    margin-left: 180px;
    height: 198px;
    width: 170px;
  }
}

@media (max-width: 1024px) {
  .main-dc-text {
    margin-top: 100px;
    margin-left: 5%;
  }

  .main-dc-text-1 {
    width: 600px;
    font-size: 50px;
  }

  .Joker-picture {
    margin-left: 66%;
    margin-top: -290px;
    height:400px;
    width: 255px;
  }

  .tile-with-information {
    margin-left: 35px;
  }

  /* Супермен */
  .tile-with-information-1 {
    height: 180px;
    width: 300px;
  }

  .SuperManMenu1 {
    margin-left: -20px;
    margin-top: 70px;
    font-size: 23px;
    width: 20px;
  }

  .SuperManMenu {
    margin-top: -98;
    margin-left: 110px;
    height: 180px;
    width: 190px;
  }

  /* Бэтмен */
  .tile-with-information-2 {
    margin-left: 20px;
    height: 180px;
    width: 300px;
  }

  .BatmanMenu1 {
    margin-left: -20px;
    margin-top: 70px;
    font-size: 30px;
    width: 40px;
  }

  .BatmanMenu {
    margin-top: -107px;
    margin-left: 120px;
    height: 180px;
    width: 180px;
  }

  /* Флэш */
  .tile-with-information-3 {
    margin-left: 20px;
    height: 180px;
    width: 300px;
  }

  .FlashMenu1 {
    margin-left: -20px;
    margin-top: 70px;
    font-size: 30px;
    width: 40px;
  }

  .FlashMenu {
    margin-top: -107px;
    margin-left: 145px;
    height: 180px;
    width: 160px;
  }
}