@font-face {
    font-family: 'LIQUIDNIGHTRegular';
    src: url('./font/LIQUIDNIGHTRegular.woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Arial;
  color: #fff;
}

.BackgroundMain {
  z-index: 0;
  width: auto;
  height: 100%;
  object-fit: cover;

}

.up-panel {
  width: 100% ;
  height: 60px;
  display: flex;
  user-select: none;
  position: absolute;
}

.nameWebsite {
  margin: 5px 0px 0px 10px;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}

.page-cover {
  display: flex;
  --height-block: 75%;
  --height-display: 100%;
}

/* Дварф */
.BlockDwarf {
  height: var(--height-block);
  position: absolute;
  top: calc((var(--height-display) - var(--height-block)) / 2);
  left: 8%;
  display: flex;
  cursor: pointer;
}

/* Эльф */
.BlockElf {
  height: var(--height-block);
  position: absolute;
  top: calc((var(--height-display) - var(--height-block)) / 2);
  left: 37.5%;
  display: flex;
  cursor: pointer;
}

/* Дракон */
.BlockDragon {
  height: var(--height-block);
  position: absolute;
  top: calc((var(--height-display) - var(--height-block)) / 2);
  left: 67%;
  display: flex;
  cursor: pointer;
}

/* Ферстка под различные разрешения */
@media (max-width: 1440px) {  
  .nameWebsite {
    font-size: 35px;
  }
  
  .menu {
    margin-left: 400px;
  }
}

@media (max-width: 1024px) {
  .nameWebsite {
    font-size: 30px;
  }
  
  .menu {
    margin-left: 270px;
  }
}

@media (max-width: 1228px) {
  .market {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 790px) {
  .market {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  .product {
    width: 230px;
  }
}

@media (max-height: 1207px) {
  .page-cover {
    --height-block: 65%;
  }
}

@media (max-height: 720px) {
  .page-cover {
    --height-block: 60%;
  }
}
